:root {
    /*### primary */
    --light-red: hsl(0, 100%, 67%);
    --very-light-red: hsl(0, 85%, 92%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --very-orangey-yellow: hsl(38, 66%, 92%);
    --green-teal: hsl(166, 100%, 37%);
    --very-green-teal: hsl(165, 85%, 92%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --very-cobalt-blue: hsl(233, 62%, 92%);
    /* ## */
    --background-one:hsl(6, 100%, 98%);
    --background-two: hsl(42, 100%, 97%);
    --background-three: hsl(173, 53%, 97%);
    --background-four: hsl(240, 71%, 97%);
    --text-1: hsl(359, 69%, 70%);
    --text-2: hsl(42, 84%, 83%);
    --text-3: hsl(164, 45%, 53%);
    --text-4: hsl(236, 38%, 55%);

    /* ### Gradients - background */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    /* Circle */
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* ### Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /* ### Font */
    --fontSize: 18px;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--fontSize);
}

main {
    border-color: var(--light-lavender);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    /* border: 1px solid red; */
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: repeat(2, 1fr);
 /* margin-top: 100px; */
 
 width: 35ch;
}

.result {
    background: linear-gradient(top bottom, var(--light-slate-blue), var(--light-royal-blue));
    background: var(--light-royal-blue);
    border-radius: 0 0 30px 30px;
    text-align: center;
    padding: 30px 0; 
    color: var(--white);
}

.result h1{
    font-size: 0.9rem;
    color: var(--white);
    margin-bottom: 15px;
}

.result-score  {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background-color: var(--cobalt-blue);
    border-radius: 50%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: var(--white);

}

.result-score div {
    display: flex;
    flex-direction: column;
}

.result-score .score span:first-child {
    font-size: 3rem;
    font-weight: 700;
}

.result-score .score span:last-child {
    font-size: 0.8rem;
    color: hsl(201, 16%, 82%);
}

/* .result span{
    font-size: 1rem;
} */

.result .great{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.result .desc{
    width: 30ch;
    margin: 0 auto;
    font-size: 0.8rem;
}

.summary {
    width: 80%;
    margin: 0 auto;
}

.summaryHeader {
    margin: 15px 0;
}

.item {
    font-size: 0.8rem;
    /* background-color: red; */
    padding: 10px;
    margin: 0 auto 10px;
    /* width: 80%; */
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test-category {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.test-category img{
    width: 15px;
}

.test-category span{
    margin-left: 10px;
}

.test-score>span:first-child {
    color: var(--dark-gray-blue);
    font-weight: 700;
    margin-right: 5px;
}

.item1 {
    color: var(--text-1);
    background-color: var(--background-one);
}

.test-score>span:last-child {
    color: var(--light-lavender);
}

.item2 {
    color: var(--text-2);
    background-color: var(--background-two);
}

.item3 {
   color: var(--text-3);
   background-color: var(--background-three);
}

.item4 {
  color: var(--text-4);
  background-color: var(--background-four);
}

.btn {
    width: 100%;
    border-radius: 30px;
    padding: 15px 0;
    background-color: var(--dark-gray-blue);
    color: var(--white);
    margin-top: 10px;
    cursor: pointer;
    border: none;
}