:root {
    /* primary */
    --dark_cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
/*  Neutral */
    --very_dark_blue: hsl(212, 21%, 14%);
    --dark_grayish_blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --fontSize: 14px;
    --fontFamily_heading: 'Fraunces', serif;
    --font-family_paragraph: 'Montserrat', sans-serif;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
    
}

p {
    font-family: var(--font-family_paragraph);
    font-size: var(--fontSize);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--fontFamily_heading);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr;
    width: 42ch;
    background-color: var(--white);  
    border-radius: 10px;
}

.image_preview {
    background-image: url(../images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
.content {
    padding: 1.2rem;
}

.content h3 {
    font-family: var(--font-family_paragraph);
    font-weight: 500;
    color: var(--dark_grayish_blue);
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 0.8rem;
    letter-spacing: .3rem;
}

.content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    /* font-weight: 700; */
    font-size: 2rem;
}

.content p{
    color: var(--very_dark_blue);
    line-height: 1.6;
    margin-bottom: 10px;
}

.price {
    color: var(--dark_cyan);
    font-size: 2rem;
    font-family: var(--fontFamily_heading);
    margin-bottom: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.price span{
    font-size: .8rem;
    margin-left: 15px;
    color: var(--very_dark_blue);
    font-family: var(--font-family_paragraph);
    text-decoration: line-through;
}

.btn {
    border: transparent;
    padding: 15px;
    width: 100%;
    background-color: var(--dark_cyan);
    border-radius: 5px;
    color: var(--white);
    font-weight: 700;
    font-family: var(--font-family_paragraph);
}


